page-login {
    .content {
        background: #222a34;
    }

    .item-md {
        background: transparent;
    }

    .button-md,
    .button-md:hover,
    .button-md:focus,
    .button-md:active {
        width: 80%;
        padding: 22px 20px;
        margin: 50px 10%;

        color: white;
        border-radius: 60px;
        background: #009688 !important;
    }

    .text-input-md {
        color: white;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-color: #009688;
        box-shadow: inset 0 -1px 0 0 #009688;
    }

    .scroll-content {
        margin-top: 56px;

        background: url(https://image.ibb.co/gQannn/Group_6.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .first-item {
        margin-top: 200px;
    }
}
