page-single {
    .scroll-content {
        padding-top: 30px;
        padding-right: 0;
        padding-left: 0;
    }

    img {
        display: block;
        display: block;
        float: left;
        width: 50%;
        max-width: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .price {
        display: block;
        float: right;
        float: right;
        margin-top: 10px;
        margin-right: 20px;

        font-size: 1.5rem;
        font-size: 20px;

        text-align: right;

        color: #5e5d5e;
    }

    .product {
        display: flex;

        align-items: center;
    }

    .product-info {
        display: flex;
        flex-direction: column;

        flex-grow: 2;
        justify-content: flex-end;
    }

    .product-title {
        display: block;
        float: right;
        float: right;
        width: 50%;
        margin-top: 1.8rem;
        margin-right: 20px;
        margin-left: auto;

        font-size: 1.5rem;
        line-height: 1.5;

        text-align: right;

        color: #2d2d2d;
    }

    .referal {
        display: block;
        width: 80%;
        padding: 8px 5px;
        margin: 5%;
        margin: 30px auto;
        margin-top: 30px;
        margin-bottom: 0;

        font-size: 13px;
        font-size: 15px;

        text-align: center;
        text-decoration: none;

        color: white;
        border-radius: 5px;
        border-radius: 150px;
        background: #5e5e5e;
    }

    .near-stores {
        float: left;
        width: 100%;
        padding: 19px;

        text-align: center;

        border-radius: 3px;
        background: #f1f1f1;

        small {
            display: block;
            margin-top: 30px;

            font-size: 14px;

            color: #616161;
        }

        h4 {
            font-size: 16px;
            font-weight: 700;

            color: #464646;
        }
    }
}
