<ion-header class="shrinkable">
      <ion-navbar>
        <ion-title>{{ Home }}</ion-title>
        <ion-icon class="search-icon" name="search"></ion-icon>
        <ion-searchbar [hidden]="searchIsHidden"
            [(ngModel)]="myInput"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)">
        </ion-searchbar>
     </ion-navbar>
   </ion-header>

<ion-content padding>
  <div class="product-wrap" >
			<div class="product" *ngFor="let product of items">
				<img src="{{ product._source.image_urls }}" alt="">
	        	<div class="product-details">
					<h3 class="product-title">{{ product._source.title }}</h3>
					<p class="product-price">{{ product._source.price }}</p>
					<button class="referal">{{ product.name }}</button>
				</div>
			</div>
		</div>

	<ion-infinite-scroll *ngIf="items" (ionInfinite)="doInfinite($event)">
   		<ion-infinite-scroll-content></ion-infinite-scroll-content>
 	</ion-infinite-scroll>
</ion-content>
