<ion-header class="shrinkable">
      <ion-navbar>
      <ion-icon (click)="onInput($event)" class="search-icon" name="search"></ion-icon>
      <ion-searchbar [hidden]="searchIsHidden"
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (keyup.enter)="onInput($event)"
          (ionCancel)="onCancel($event)">
      </ion-searchbar>
      <ion-icon class="camera-icon" name="camera" (click)="takePicture()"></ion-icon>
     </ion-navbar>

   </ion-header>

<ion-content padding>
  <div class="product-wrap" >
			<div class="product" *ngFor="let product of items">
				<img src="{{ product._source.image_urls }}" alt="">
	        	<div class="product-details">
					<h3 class="product-title">{{ product._source.title }}</h3>
					<p class="product-price">£{{ product._source.price }}</p>
					<button class="referal">{{ product.name }}</button>
				</div>
			</div>

      <svg id="cart" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
		  
      <ion-infinite-scroll *ngIf="items" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
</ion-content>
