$blue: #4b93e8;

page-products {
    * {
        box-sizing: border-box;
    }

    img {
        float: left;
        width: 160px;
        height: 160px;

        border: 2px solid #ececec;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        object-fit: cover;
    }

    .product {
        display: flex;
        float: left;
    }

    .searchbar-md .searchbar-input {
        width: 90%;
        margin-left: 30px;

        background-color: #e2e2e2;
    }

    .product:first-child {
        margin-top: 0;
    }

    .product:nth-child(2) {
        margin-top: 0;
    }

    svg {
        width: 50%;
        margin: 0 25%;

        text-align: center;

        fill: #ecebeb;
    }

    .searchbar-md .searchbar-clear-icon {
        right: 40px;
    }


    .searchbar-md .searchbar-input {
        width: 100%;
        margin: 0;

        border-radius: 5px;
        background-color: white;
    }

    .toolbar-background {
        background: #fff;
    }

    .toolbar-content {
        display: flex;

        align-items: center;
    }

    .search-btn {
        color: black !important;
    }

    .searchbar-search-icon {
        display: none;
    }

    .searchbar-md .searchbar-search-icon {
        top: 18px;
    }

    .search-icon {
        position: absolute;
        top: 22px;
        left: 27px;
        z-index: 1;

        font-size: 20px;

        color: #939393;
    }

    .close-search,
    .close-search:hover {
        position: absolute;
        top: 5px;
        right: 7px;
        z-index: 200;

        color: #a7a7a7;
        background: white !important;
        box-shadow: none;
    }

    .product {
        width: 50%;
        margin-top: 30px;
        flex-direction: column;

        text-align: center;

        align-items: center;
    }

    .product-wrap {
        display: flex;
        height: 100%;

        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-details {
        position: relative;

        width: 160px;
        min-height: 150px;
        padding: 5px;

        text-align: center;

        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background: #ececec;
    }

    .product-title {
        min-height: 30px;
        padding-top: 12px;

        font-size: 12px;
        line-height: 1.5;

        white-space: normal;

        color: #3f3f3d;
    }

    .referal {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 90%;
        padding: 8px 5px;
        margin: 5%;

        font-size: 13px;

        color: white;
        border-radius: 5px;
        border-radius: 150px;
        background: #5e5e5e;
    }

    .camera-icon {
        position: absolute;
        right: 29px;

        color: grey;
    }

    [hidden] {
        display: none !important;
    }

    .scroll-content {
        background: white;
    }

    .toolbar .searchbar-md {
        padding: 0 !important;
    }

    .toolbar .searchbar-md {
        height: 56px !important;
        padding: 10px !important;
    }


    .searchbar-md .searchbar-input {
        padding-left: 40px;

        border-radius: 0;
        background-color: #ecebeb;
        box-shadow: none !important;
    }

    .hamburger-menu {
        margin-left: 15px;
    }

    .product-price {
        display: inline-block;
        width: auto;
        margin: 0 0 15px 0;

        font-size: 16px;
        font-weight: 700;

        color: #3f3f3d;

        align-self: flex-start;
    }

    .list-md .item-block .item-inner {
        border: none;
    }

    .item-md {
        padding: 0;

        background: #eaeaea;
    }

    .label-md {
        margin: 0;
    }

    .business-title {
        display: inline-block;
        margin: 0;

        font-size: 18px;

        color: white;
    }

    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: $black;
    }

    .no-more-results {
        margin-top: 50px;

        text-align: center;

        color: #6b6b6b;
    }
}
